@import url("https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap");

html,
body {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  background: #25798e;
  /* overflow: hidden; */
}

img {
  width: 100%;
}

header,
main {
  height: 100vh;
}

.headingContainer {
  width: 50%;
  display: flex;
  align-items: center;
}

.citySelect {
  min-width: 150px;
  width: 20%;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
}

.headerTop {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.logoImageContainer {
  width: 100px;
}

.jobType {
  font-size: 0.8rem;
  color: grey;
  padding-bottom: 10px;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

a.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

a.button:hover {
  color: #000000;
  background-color: #ffffff;
}

.imageContainer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.jobHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company {
  padding-bottom: 10px;
}

/* To add media query for mobile */
li.cities {
  width: calc(100% / 3 - 20px);
  margin: 10px;
}

a {
  text-decoration: none;
}

.carousel-cell {
  height: 85vh;
  border-radius: 25px;
  background: #bbdef0;
  padding-top: 20px;
}

.jobsContainer {
  padding: 0 15px;
  height: 60vh;
}

.singleJobPost {
  border-bottom: 1px solid grey;
  height: 30%;
  margin-top: 20px;
}

.jobsContainer .singleJobPost:last-of-type {
  border-bottom: none;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flickity-prev-next-button.next {
  right: -45px;
}

.flickity-prev-next-button.previous {
  left: -65px;
}

main {
  display: flex;
  flex-wrap: nowrap;
}

.cityDetails,
.jobDetails {
  margin-top: 20px;
  width: 50%;
}

footer {
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

footer .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scoreBar {
  border: 1px solid black;
}

.flickity-page-dots {
  display: none;
}

.cityDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cityDetailsContainer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


a.showScore {
  text-align: center;
  margin: 0 auto;
  display: none;
}

.scoreCategory {
  display: block;
  transition: all 1s linear;
}

.hidden {
  display: none;
}

.backToTop {
  position: fixed;
  bottom: 50px;
}

/* Responsive */

@media only screen and (max-width: 1000px) {
  li.cities {
    width: calc(100% / 2 - 20px);
  }
}

@media only screen and (max-width: 650px) {
  li.cities {
    width: 100%;
    text-align: center;
  }

  .singleJobPost {
    border-bottom: none;
  }

  .flickity-prev-next-button.next {
    right: 10px;
  }

  .flickity-prev-next-button.previous {
    left: 10px;
  }

  .singleJobPost:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50vw;
    padding-top: 20px;
    border-bottom: 1px solid grey;
  }
}

@media only screen and (max-width: 550px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
  .carousel-cell {
    height: 85vh;
    padding-top: 10px;
  }

  .cityDetails,
  .jobDetails {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .logoImageContainer {
    display: none;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.8rem;
  }
}
