@import url("https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap");

html,
body {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  background: #25798e;
}

img {
  width: 100%;
}

header,
main {
  height: 100vh;
}

.headingContainer {
  width: 50%;
  display: flex;
  align-items: center;
}

.citySelect {
  min-width: 150px;
  width: 20%;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
}

.headerTop {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.logoImageContainer {
  width: 100px;
}

.jobType {
  font-size: 0.8rem;
  color: grey;
  padding-bottom: 10px;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

.imageContainer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.jobHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company {
  padding-bottom: 10px;
}

/* To add media query for mobile */
li.cities {
  width: calc(100% / 3 - 20px);
  margin: 10px;
}

a {
  text-decoration: none;
}

.carousel-cell {
  height: 80vh;
  border-radius: 25px;
  background: #bbdef0;
  padding-top: 20px;
}

.jobsContainer {
  padding: 0 15px;
  height: 60vh;
}

.singleJobPost {
  border-bottom: 1px solid grey;
  height: 30%;
  margin-top: 20px;
}

.jobsContainer .singleJobPost:last-of-type {
  border-bottom: none;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flickity-prev-next-button.next {
  right: -50px;
}

.flickity-prev-next-button.previous {
  left: -50px;
}

main {
  display: flex;
  flex-wrap: nowrap;
}

.cityDetails,
.jobDetails {
  width: 50%;
}

footer {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.scoreBar {
  border: 1px solid black;
}

#backToTop {
  position: absolute;
  bottom: 50px;
}

/* Responsive */

@media only screen and (max-width: 1000px) {
  li.cities {
    width: calc(100% / 2 - 20px);
  }
}

@media only screen and (max-width: 650px) {
  li.cities {
    width: 100%;
    text-align: center;
  }

  .singleJobPost {
    border-bottom: none;
  }

  .singleJobPost:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50vw;
    padding-top: 20px;
    border-bottom: 1px solid grey;
  }
}
